# Editor files
*~
*.bak
.project
.pydevproject

# Python intermediates
__pycache__
*.egg-info
requirements.txt
build
dist
.venv*/

# Tool outputs
agent/
amp-sql/
mgr/
shared/

# Test outputs
testresults.xml
.coverage
coverage.xml
.pytest_cache/
tests/adms/
